@model Proyecto1BD1.Models.MaestroCarrera

@{
    var Maestros = (IEnumerable<SelectListItem>)ViewData["Maestros"];
    var Cursos = (IEnumerable<SelectListItem>)ViewData["Cursos"];
    var Carreras = (IEnumerable<SelectListItem>)ViewData["Carreras"];
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>MaestroCarrera</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Registro" class="control-label"></label>
                <select asp-for="Registro" class ="form-control" asp-items="Maestros"></select>
            </div>
            <div class="form-group">
                <label asp-for="Carrera" class="control-label"></label>
                <select asp-for="Carrera" class ="form-control" asp-items="Carreras"></select>
            </div>
            <div class="form-group">
                <label asp-for="Curso" class="control-label"></label>
                <select asp-for="Curso" class ="form-control" asp-items="Cursos"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
